*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: transparent;
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;

}

html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.left{
    float: left;   
   }
   
.right{
       float: right;
   }

.clearfix{
    clear: both;
}

.load-page{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

.homePagedsk{
    background-color: #f0f0f0;
}

.navDetails{
    background:  #000000!important;
    box-shadow: none!important;
    color: #ff0000!important;
}

.navDcuston{
    height: 80px;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.flex-pos{
    max-width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.navbars{
    margin-left: 60px;
    padding-top: 5px;
}


.logoCalling{
    position: relative;
    text-decoration: none!important;
    font-family: 'Nunito Sans', 'sans-serif';
}

.logoCalling img{
    max-height: 40px;
}

.logoCalling span{
    padding-left: 8px;
    color:#ff0000;
    font-family: 'Nunito Sans', 'sans-serif';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
}




.headerNav-Items{
    padding: 2px;
    padding-top: 5px;
    font-size: 18px;
}

.nav-Items{
    list-style-type: none;
    overflow: hidden;
}

.navRight{
    display: inline-block;
    margin: 0px;
    padding-top: 8px;
    padding-right: 35px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 20px;
    
}

.navRight a{
    text-decoration: none;
    color: #ff0000;
}

.navRight a span{
    border-bottom: 2px solid #ff0000;
}
/* --***************Nav Ends Here****************-- */

/* **************Add BG Image********************* */




.bgImg{
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 500px;
    position: absolute;
    z-index: -1;
}

/* *********************Add tag line ********************* */

.content{
    
    position: relative; 
    margin: 10px;
    padding: 5px;
}

.tagLine{
    color: #000000;
    position: absolute;
    left: 18%;
    top: 20vh;
}

.tagLine h1{
    font-size: 60px;
    font-weight: 600;
    font-family: 'Nunito sans', 'sans-serif';
    line-height: 75px;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    text-shadow: 1px 1px 1px #000000;
}

.searchBar{
    position: absolute;
    left: 33%;
    top: 60%;
    padding: 0;
    margin: 0;
    border: none;
}

input[type=text] {
    width:400px; 
    height:50px;
    border-radius:10px 0 0 10px;
    border: none;
    background-color: #000000;margin: 0;
    outline: none;
}

.searchBar .searchBtn{
    height: 50px;
    border-radius: 0 10px 10px 0;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}




/* -----------------Card Design -------------------------------*/

.featureCard{
    margin-top: 60px;
    padding: 5px;
    background: #000000;
    position: absolute;
    top: 73%;
    left: 8%;
    border-radius: 5px;
    align-items: center;
}

.featureCard{
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transition: 0.8s;
    
}

.cardDesign{
    word-wrap: none;
    word-spacing: 1.5px;
    
}

.row{
    max-width: 100%;
}

.r1{
        height: 100px;
        margin-top: 20px;
}

.r2{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.card{
    background: #000000;
    width: 150px;
    height: 100px;
    align-items: center;
    left: 20px;
    color: red;
    
}

.card:hover{
    box-shadow: 2px 1px 5px rgba(255, 255, 255, 0.8); 
    border-radius: 3px;
    transition: 0.4s;
}

.card object{
    padding: 5px;
    margin: 5px;
    max-width: 55px;
    max-height: 55px;
}

.card h5{
    margin-top: 10px;
    padding: 2px;
    font-size: 10px!important;
    font-weight: 700;
    letter-spacing: 1px;  
}

/* Card Over here */

/* Login Pop-up */

.loginOnClick{
    top: 0;
    max-width: 300px;
    min-height: 100%;
    color: red;
    background: black;
}

.loginPortal{
    margin-top: 20px;
}
.heading_log{
    height: 50px;
    width: 400px;
    display: flex;
}

.heading_log object{
    max-width: 30px;
    max-height:30px;
    padding: 5px;
    margin: 0px 5px;
    border: 1px solid red;
}

.heading_log h5{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Nunito sans', 'sans-serif';
    padding: 5px;
    margin: 0px 5px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
}

